/PROJECT_REPORT1.docx
/Real-Time-Fraud-Detection-using-Agentic-AI (1).pptx
/cot_agent_with_fastmcp.py
/financialFraudDetectionUsingAIAgent
/fraudDetection.zip
/real_databases1.py
/stitch_traceai_fraud_analysis_report